[submodule ".config/emacs"]
	path = .config/emacs
	url = https://github.com/plexus/chemacs2.git
[submodule ".zshplugins/fzf-marks"]
	path = .zshplugins/fzf-marks
	url = https://github.com/urbainvaes/fzf-marks
[submodule ".zshplugins/fast-syntax-highlighting"]
	path = .zshplugins/fast-syntax-highlighting
	url = https://github.com/z-shell/fast-syntax-highlighting
[submodule ".zshplugins/zsh-autosuggestions"]
	path = .zshplugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule "doom-emacs"]
	path = .doomemacs
	url = https://github.com/hlissner/doom-emacs.git
