*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

.config/jmacs/straight/
.config/jmacs/auto-save-list/
*~
.config/jmacs/recentf
.config/jmacs/forge-database.sqlite
.config/jmacs/transient/
*.eld

.config/qtile/__pycache__
.config/qtile/theme/__pycache__
.config/qtile/settings/__pycache__
.config/jmacs/eshell/

.config/jmacs/session.2cca103ad-1523-41a8-a1bb-489c3a5648bc
.config/jmacs/emojis/

.config/jmacs/.cache/lsp/npm/pyright
.config/jmacs/.lsp-session-v1
.config/jmacs/bookmarks
.config/jmacs/session.*

node_modules/
/.config/ncspot/userstate.cbor
content/*
/.packages/
/.packages.org-id-locations
