[submodule "fzf/.fzf"]
	path = fzf/.fzf
	url = https://github.com/junegunn/fzf.git
[submodule "chemacs2"]
	path = emacs/.emacs.d
	url = https://github.com/plexus/chemacs2.git
[submodule "emacs/.doomemacs"]
	path = emacs/.doomemacs
	url = https://github.com/hlissner/doom-emacs.git
