/*-*- mode: css; -*-*/
configuration {
    modi: "window,drun,combi,powermenu:~/.dotfiles/.config/rofi/scripts/powermenu.sh";
    terminal: "alacritty";
    show-icons: true;
    icon-theme: "Papirus";
    drun-display-format: "{icon} {name}";
    window-format: "({w}) {t}";
    font: "Iosevka Nerd Font 14";
    display-drun: "Apps";
}


@theme "~/.config/rofi/themes/jh-grid.rasi"
