configuration {
    modi: "window,run,ssh,drun";
    show-icons: true;
    icon-theme: "Paper";
    drun-display-format: "{icon} {name}";
    display-drun: "";
    combi-modi: "window,drun,run,ssh,combi";
    matching: "fuzzy";
    drun-match-fields: "name";
}
@theme "~/.config/rofi/themes/jh-grid.rasi"
listview {
  columns: 3;
}
