configuration {
    font: "Iosevka Nerd Font 12";
    modi: "window,drun,combi";
    terminal: "alacritty";
    show-icons: true;
    icon-theme: "Papirus";
    drun-display-format: "{icon} {name}";
    window-format: "({w}) {t}";
}

@import "colors/gruvbox.rasi"

