<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ if .IsHome }} {{.Site.Title}} {{ else }}{{ if .Page.Title}} {{ .Page.Title}} | {{end}}{{end}}{{.Site.Title}}</title>

    {{ partialCached "css" .}}
  <!-- AlpineJS -->
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
   <!-- Dark Mode -->
  <script>
    if (localStorage.darkMode === 'true' || (!('darkMode' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark')
    } else {
      document.documentElement.classList.remove('dark')
    }
  </script>
  {{ $mainJs := resources.Get "js/main.js"}}
  <script src="{{$mainJs.RelPermalink}}"></script>

</head>
